<div class="key-title" style="text-align:center;">
   <h2> Our Core Values </h2>
</div>
<div class="key-row">
  <div class="key-column">
    <img src="/assets/img/icons/sharing.svg" style="height:150px">
    <h3> Share </h3>
  </div>
  <div class="key-column">
    <img src="/assets/img/icons/team.svg" style="height:150px">
    <h3> Collaborate </h3>
  </div>
  <div class="key-column">
    <img src="/assets/img/icons/innovation.svg" style="height:150px">
    <h3> Enhance </h3>
  </div>
</div>
<div class="key-desc">
 <p>Sharing is the first step towards enhancement.  When we open and share open source software, anyone can leverage this resource and contribute to our projects. Ultimately, this promotes collaboration, which is our second core value.  We believe this process enhances the quality of life for all.</p>
</div>
