<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
	  <a class="logo" href="{{ '/' | relative_url }}">
	    <img class="avatar" src="/assets/img/logo.png">
	  </a>

	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
        {% assign name_page = "" %}

        {% for page in site.pages %}
            {% unless page.title == null or page.hide or name_page contains page.title %}
            <li class="separator"> | </li>
            <li>
                <a class="clear" aria-label="{{ page.title }}" title="{{ page.title }}" href="{{ page.url | relative_url }}">
                    {% if page.icon %} <i class="fa {{ page.icon }}" aria-hidden="true"></i>
                    {% else %} {{ page.title }} {% endif%}
                </a>
            </li>
            {% endunless %}
            {% assign name_page = page.title | append: name_page %}
        {% endfor %}
        <li class="separator"> | </li>
        <li>
	        <a class="clear" aria-label="product" title="product" href="https://opensource.lge.com">Product</a>
        </li>
	    <li class="separator"> | </li>
        <li>
	        <a class="clear" aria-label="guide" title="guide" href="https://oss.lge.com/guide/">Guide</a>
        </li>
	    <li class="separator"> | </li>
        <li>
            <div class="dropdown">
                <button class="dropbtn"><img src="{{ site.baseurl }}/assets/img/icons/language.ico" alt="language"></button>
                <div class="dropdown-content">
                    <a href="https://oss.lge.com/ko/">Korean</a>
                    <b>English</b>
                </div>
            </div>
        </li>
    </ul>

	</nav>
</header>
