.learn-icon {
  width: 25%;
  height: 15%;
  line-height: 1.5em;
  margin: 25% auto auto 15%;
  display: block;
  text-align: center;
  color: #fff;
  position: relative;
  background-image: linear-gradient(#a98ab6, #c4a1c2);
  font-size: 2rem;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px #a99facb9;

  @media screen and (min-width: $break) {
    height: 10%;
  }

  @media screen and (max-width: $break) {
    height: auto;
  }

  @media screen and (max-width: $sm-break) {
    width: 53%;
    height: 10%;
    margin: 18em 6em;
    font-size: 1rem;
  }

  & a{
    color: #fff;
  }

  &:hover {
   text-decoration: none;
  }

}
