.learn-icon {
  width: 36%;
  height: 10%;
  margin: 18em 30em 5em 6em;
  display: block;
  text-align: center;
  color: #fff;
  position: relative;

  @media screen and (min-width: $break) {
    height: 10%;
  }

  @media screen and (max-width: $break) {
    height: auto;
  }

  @media screen and (max-width: $sm-break) {
    width: 53%;
    height: 10%;
    margin: 18em 6em;
    font-size: 1rem;
  }


  & img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
  }
  .centered {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 110%;
   }

  & a{
    color: #fff;
  }

  &:hover {
   text-decoration: none;
  }

}
