.post-card {
  display: block;
  position: relative;
  width: 100%;
  height: 25rem;
  text-align: center;
  margin-bottom: 5rem;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-transition: box-shadow 0.25s ease;
  -moz-transition: box-shadow 0.25s ease;
  transition: box-shadow 0.25s ease;

  @media (min-width: 48em) {
    width: 47.5%;
    margin-right: 5%;

    &:last-of-type,
    &:nth-child(2n + 2) {
      margin-right: 0;
    }
  }

  @media (min-width: 75em) {
    width: 30%;
    margin-right: 5%;

    &:nth-child(2n + 2) {
      margin-right: 5%;
    }

    &:last-of-type,
    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }

  &:hover,
  &:focus {
    border-bottom: 0;
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.5);
  }

  &__label {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 2;
  }

  &__thumb {
    margin: 0;
    background: #fbe8d3;
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 55%;

    > * {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
    }

    &_title {
      display: block;
      position: relative;
      padding: 0 1.5rem 0 1.5rem;
      height: 50%;
      width: 100%;
      text-align: left;

      &__h {
        color: #353535;
      }
    }

    &_logo {
      display: block;
      position: relative;
      padding: 4.5rem 1rem 0 1.5rem;
      margin: 0;
      height: 50%;
      width: 100%;
      text-align: right;
    }
  }

  &__inner {
    display: block;
    position: relative;
    margin: 0;
    padding: 1rem 1rem 0.5rem 1.5rem;
    width: 100%;
    height: 65%;
    color: #656d6e;
    border-bottom: 0;
    text-align: left;
    font-size: 1.1rem;

    &:focus,
    &:hover {
      color: #838c8d;
      border-bottom: 0;
    }
  }

  &__header {
    margin-bottom: 0.75rem;
  }
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 0;
  justify-content: flex-start;
  padding-top: 1.5em;
}
